{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>성진</title>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock css %}
</head>
<body>
   <div id="warp">
        <div id="header">
            <div id="nav">
                <div class="logo">
                    <a href="{% url 'post-list' %}"><img src="{% static 'posts/images/logo.png' %}" alt="Logo" width = '100'></a>
                </div>
            </div>
            
            {% block post_header %}
            {% endblock post_header %}
        </div>
        {% block logo_text %}
        {% endblock logo_text %}
        <div id="content">
            <div class="container">
                <div class="btn_post" style="display:flex; gap:10px; align-items:center;">
                    {% if user.is_authenticated %}
                        <a href="{% url 'mypage' user.id %}" class="btn_post" style="border:1px solid #5b595f">마이페이지</a>
                        <a href="{% url 'logout' %}" class="btn_post" style="border:1px solid #5b595f">로그아웃</a>
                    {% else %}
                        <a href="{% url 'register' %}">회원가입</a>
                        <a href="{% url 'login' %}">로그인</a>
                    {% endif %}
                </div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div id="footer">
            <div class="footer">
                <p>성진</p>
            </div>
        </div>
    </div>
</body>
</html>
